<header>
    <div class="container">
        <div class="intro">
            <p class="intro__name"><span>{{ site.name }}</span> </p>
			<p class="intro__main"> <span>{{ site.job }}</span> </p>
            <p class="intro__post">{{ site.location }}</p>
        </div>

        <div class="social">
			<a href="mailto:{{ site.email_address }}" target="_blank">Email</a>
			<a href="/assets/CV-GuillaumeVidal-2019.pdf" target="_blank">CV PDF</a>
            <a href="http://github.com/{{ site.github_username }}" target="_blank">GitHub</a>
        </div>

    </div>
</header>
